<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Loading_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{98,30}</string>
                <key>spriteSourceSize</key>
                <string>{148,30}</string>
                <key>textureRect</key>
                <string>{{1635,1},{98,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Loading_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{104,30}</string>
                <key>spriteSourceSize</key>
                <string>{148,30}</string>
                <key>textureRect</key>
                <string>{{1699,577},{104,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Loading_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{114,30}</string>
                <key>spriteSourceSize</key>
                <string>{148,30}</string>
                <key>textureRect</key>
                <string>{{1519,429},{114,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Loading_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{122,30}</string>
                <key>spriteSourceSize</key>
                <string>{148,30}</string>
                <key>textureRect</key>
                <string>{{1667,577},{122,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Loading_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{132,30}</string>
                <key>spriteSourceSize</key>
                <string>{148,30}</string>
                <key>textureRect</key>
                <string>{{1635,454},{132,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Loading_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{140,30}</string>
                <key>spriteSourceSize</key>
                <string>{148,30}</string>
                <key>textureRect</key>
                <string>{{1676,435},{140,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Loading_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,30}</string>
                <key>spriteSourceSize</key>
                <string>{148,30}</string>
                <key>textureRect</key>
                <string>{{1369,429},{148,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainBackGround.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,768}</string>
                <key>spriteSourceSize</key>
                <string>{1366,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1366,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SliderBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,39}</string>
                <key>spriteSourceSize</key>
                <string>{17,39}</string>
                <key>textureRect</key>
                <string>{{1635,435},{17,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SliderloadBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,50}</string>
                <key>spriteSourceSize</key>
                <string>{400,50}</string>
                <key>textureRect</key>
                <string>{{1635,33},{400,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SliderloadBarAfter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,50}</string>
                <key>spriteSourceSize</key>
                <string>{400,50}</string>
                <key>textureRect</key>
                <string>{{1687,33},{400,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TextBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,264}</string>
                <key>spriteSourceSize</key>
                <string>{426,264}</string>
                <key>textureRect</key>
                <string>{{1369,1},{426,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Scene_1.pvr.gz</string>
            <key>size</key>
            <string>{1738,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9e9dd85244387ff8607c815ea2b06d9:f9e4b8022a493c0f78796df92f3b55f4:5d32660b68278f2709a18bff36e33346$</string>
            <key>textureFileName</key>
            <string>Scene_1.pvr.gz</string>
        </dict>
    </dict>
</plist>
